* {
    margin: 0px;
    padding: 0px;
}

#marry-me {
    text-align: center;
    margin-top: 30px;
}

#question {
    color: deeppink;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

#answer {
    color: deeppink;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

#yes {
    padding: 8px 25px;
    font-size: 20px;
    border-radius: 10px;
    background-color: deeppink;
    font-weight: 900;
    color: white;
    margin-right: 10px;
}

#off-course {
    padding: 8px 25px;
    font-size: 20px;
    border-radius: 10px;
    background-color: deeppink;
    font-weight: 900;
    color: white;
}

#counting {
    text-align: center;
    margin-top: 30px;
}

#increase-decrease {
    color: purple;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

#plus-button {
    padding: 8px 25px;
    font-size: 20px;
    border-radius: 10px;
    background-color: purple;
    font-weight: 900;
    color: white;
    margin-right: 10px;
}

#minus-button {
    padding: 8px 25px;
    font-size: 20px;
    border-radius: 10px;
    background-color: purple;
    font-weight: 900;
    color: white;
}

#main-parents {
    text-align: center;
    margin: 50px;
}

#grand-parents {
    border: 2px solid red;
    border-radius: 15px;
    padding: 40px;
}

#parents {
    border: 2px solid blue;
    border-radius: 15px;
    padding: 40px;
}

#child {
    border: 2px solid green;
    border-radius: 15px;
    padding: 40px;
}

#heading {
    text-align: center;
    color: #4B0082;
    font-size: 30px;
    font-weight: bold;
}

#input-value {
    width: 50%;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    border-color: #ff00ff;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 18px;
    background-color: aqua;
}

#input-button {
    text-align: center;
    padding: 15px;
    border-color: purple;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    color: azure;
    background-color: purple;
}

.input-div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

table {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

.table-head {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

#table-container {
    width: 80%;
    margin: auto;
}

.table-row {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

.table-number1 {
    width: 27%;
}

.table-number2 {
    width: 37%;
}

.table-button,
.table-edit {
    padding: 5px 25px;
    font-size: 15px;
    border-radius: 10px;
    background-color: purple;
    color: white;
}