* {
    margin: 0px;
    padding: 0px;
}

#marry-me {
    text-align: center;
    margin-top: 30px;
}

#question {
    color: deeppink;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

#answer {
    color: deeppink;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

#yes {
    padding: 8px 25px;
    font-size: 20px;
    border-radius: 10px;
    background-color: deeppink;
    font-weight: 900;
    color: white;
    margin-right: 10px;
}

#off-course {
    padding: 8px 25px;
    font-size: 20px;
    border-radius: 10px;
    background-color: deeppink;
    font-weight: 900;
    color: white;
}

#counting {
    text-align: center;
    margin-top: 30px;
}

#increase-decrease {
    color: purple;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

#plus-button {
    padding: 8px 25px;
    font-size: 20px;
    border-radius: 10px;
    background-color: purple;
    font-weight: 900;
    color: white;
    margin-right: 10px;
}

#minus-button {
    padding: 8px 25px;
    font-size: 20px;
    border-radius: 10px;
    background-color: purple;
    font-weight: 900;
    color: white;
}

#main-parents {
    text-align: center;
    margin: 50px;
}

#grand-parents {
    border: 2px solid red;
    border-radius: 15px;
    padding: 40px;
}

#parents {
    border: 2px solid blue;
    border-radius: 15px;
    padding: 40px;
}

#child {
    border: 2px solid green;
    border-radius: 15px;
    padding: 40px;
}